@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.calculator {
  width: 275px;
  height: 555px;
  background-color: #23252c;
  /* background-color: #4b70f5; */

  border-radius: 30px;
}

.calc-btn-layout {
  margin-top: -425px;
  width: 275px;
  height: 425px;
  background-color: #2a2d35;
  border-radius: 30px;
}

.btn-style {
  border-radius: 20%;
  height: 3rem;
  width: 3rem;
  background-color: #282b32;
}

.btn-style:hover {
  background-color: #24272d;
}

.btn-style:active {
  border: none;
}

.btn-num {
  color: #f6f8fc;
}
.btn-opr {
  color: #d6655f;
}
.btn-not {
  color: #6eefc7;
}

.btn-num:hover {
  color: #f6f8fc;
}
.btn-opr:hover {
  color: #d6655f;
}
.btn-not:hover {
  color: #6eefc7;
}
